<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Service</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

<a href="/lessons">Tüm Dersleri getir</a>
<br/><br/>
<a href="/lessons/asayar/academicianUsername">asayar username li hocanın derslerini getir</a>
<br/>
<br/>
<a href="/lessons/1/academicianId">Id si 1 olan hocanın derslerini getir</a>
<br/>
<br/>
<a href="/students/1/lessons">Id si 1 olan öğrencinin derslerini getir</a>
<br/>
<br/>
<a href="/lessons/COMPUTER_ENGINEERING/department">Bilgisayar mühendisliğinin tüm dersleri getir</a>
<br/>
<br/>
<a href="/lessons/MECHANIC_ENGINEERING/department">Makine mühendisliğinin tüm dersleri getir</a>
<br/>
<br/>
<a href="/students/Java Programlama/lessonName">Java Programlama alanları getir</a>

</body>
</html>